<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestOpenCV.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ex_play_video.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ex_show_image.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B4D599E237DA48800FC9CE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B552079237C57FE00BCE1D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB389E7124A6EF1F003BB87E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB389ED724A6EF6A003BB87E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
